{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="home-container">
    <div class="team-section">
        <h1>DATABASE PROJECT</h1>
        <h2>Global Socio-Economic & Environmental Indicators</h2>
        <ul class="team-list">
            <li>Hakan Duran 150200091</li>
            <li>Kerem Er 820210313</li>
            <li>Rengin Helin Yalçin 150220767</li>
            <li>Oğuz Eren Kacar 150200018</li>
        </ul>
    </div>
    <div class="table-section">
        <ul class="table-list">
            <li><a href="/list/co2_production">co2_production</a></li>
            <li><a href="/list/gross_national_income_per_capital">gross_national_income_per_capital</a></li>
            <li><a href="/list/human_development_index">human_development_index</a></li>
            <li><a href="/list/life_expectancy_by_birth">life_expectancy_by_birth</a></li>
        </ul>
    </div>
</div>
{% endblock %}
