{% extends "layout.html" %}

{% block title %} Insert on {{table}} {% endblock %}

{% block content %}
<h1> Operation: Insert on {{table}} </h1> 

{% if post == None %}
    {% if table == "co2_production" %}
        <form action="/edit/co2_production/insert" method="POST">
            <label for="ISO3">ISO3:</label><br>
            <input type="text" id="ISO3" name="ISO3"><br>

            <label for="Country">Country:</label><br>
            <input type="text" id="Country" name="Country"><br>

            <label for="hdicode">hdicode:</label><br>
            <input type="text" id="hdicode" name="hdicode"><br>

            <label for="region">region:</label><br>
            <input type="text" id="region" name="region"><br>

            <label for="hdi_rank_2021">hdi_rank_2021:</label><br>
            <input type="text" id="hdi_rank_2021" name="hdi_rank_2021"><br>

            <label for="co2_prod_1990">co2_prod_1990:</label><br>
            <input type="text" id="co2_prod_1990" name="co2_prod_1990"><br>

            <label for="co2_prod_1991">co2_prod_1991:</label><br>
            <input type="text" id="co2_prod_1991" name="co2_prod_1991"><br>

            <label for="co2_prod_1992">co2_prod_1992:</label><br>
            <input type="text" id="co2_prod_1992" name="co2_prod_1992"><br>

            <label for="co2_prod_1993">co2_prod_1993:</label><br>
            <input type="text" id="co2_prod_1993" name="co2_prod_1993"><br>

            <label for="co2_prod_1994">co2_prod_1994:</label><br>
            <input type="text" id="co2_prod_1994" name="co2_prod_1994"><br>

            <label for="co2_prod_1995">co2_prod_1995:</label><br>
            <input type="text" id="co2_prod_1995" name="co2_prod_1995"><br>

            <label for="co2_prod_1996">co2_prod_1996:</label><br>
            <input type="text" id="co2_prod_1996" name="co2_prod_1996"><br>

            <label for="co2_prod_1997">co2_prod_1997:</label><br>
            <input type="text" id="co2_prod_1997" name="co2_prod_1997"><br>

            <label for="co2_prod_1998">co2_prod_1998:</label><br>
            <input type="text" id="co2_prod_1998" name="co2_prod_1998"><br>

            <label for="co2_prod_1999">co2_prod_1999:</label><br>
            <input type="text" id="co2_prod_1999" name="co2_prod_1999"><br>

            <label for="co2_prod_2000">co2_prod_2000:</label><br>
            <input type="text" id="co2_prod_2000" name="co2_prod_2000"><br>

            <label for="co2_prod_2001">co2_prod_2001:</label><br>
            <input type="text" id="co2_prod_2001" name="co2_prod_2001"><br>

            <label for="co2_prod_2002">co2_prod_2002:</label><br>
            <input type="text" id="co2_prod_2002" name="co2_prod_2002"><br>

            <label for="co2_prod_2003">co2_prod_2003:</label><br>
            <input type="text" id="co2_prod_2003" name="co2_prod_2003"><br>

            <label for="co2_prod_2004">co2_prod_2004:</label><br>
            <input type="text" id="co2_prod_2004" name="co2_prod_2004"><br>

            <label for="co2_prod_2005">co2_prod_2005:</label><br>
            <input type="text" id="co2_prod_2005" name="co2_prod_2005"><br>

            <label for="co2_prod_2006">co2_prod_2006:</label><br>
            <input type="text" id="co2_prod_2006" name="co2_prod_2006"><br>

            <label for="co2_prod_2007">co2_prod_2007:</label><br>
            <input type="text" id="co2_prod_2007" name="co2_prod_2007"><br>

            <label for="co2_prod_2008">co2_prod_2008:</label><br>
            <input type="text" id="co2_prod_2008" name="co2_prod_2008"><br>

            <label for="co2_prod_2009">co2_prod_2009:</label><br>
            <input type="text" id="co2_prod_2009" name="co2_prod_2009"><br>

            <label for="co2_prod_2010">co2_prod_2010:</label><br>
            <input type="text" id="co2_prod_2010" name="co2_prod_2010"><br>

            <label for="co2_prod_2011">co2_prod_2011:</label><br>
            <input type="text" id="co2_prod_2011" name="co2_prod_2011"><br>

            <label for="co2_prod_2012">co2_prod_2012:</label><br>
            <input type="text" id="co2_prod_2012" name="co2_prod_2012"><br>

            <label for="co2_prod_2013">co2_prod_2013:</label><br>
            <input type="text" id="co2_prod_2013" name="co2_prod_2013"><br>

            <label for="co2_prod_2014">co2_prod_2014:</label><br>
            <input type="text" id="co2_prod_2014" name="co2_prod_2014"><br>

            <label for="co2_prod_2015">co2_prod_2015:</label><br>
            <input type="text" id="co2_prod_2015" name="co2_prod_2015"><br>

            <label for="co2_prod_2016">co2_prod_2016:</label><br>
            <input type="text" id="co2_prod_2016" name="co2_prod_2016"><br>

            <label for="co2_prod_2017">co2_prod_2017:</label><br>
            <input type="text" id="co2_prod_2017" name="co2_prod_2017"><br>

            <label for="co2_prod_2018">co2_prod_2018:</label><br>
            <input type="text" id="co2_prod_2018" name="co2_prod_2018"><br>

            <label for="co2_prod_2019">co2_prod_2019:</label><br>
            <input type="text" id="co2_prod_2019" name="co2_prod_2019"><br>

            <label for="co2_prod_2020">co2_prod_2020:</label><br>
            <input type="text" id="co2_prod_2020" name="co2_prod_2020"><br>

            <label for="co2_prod_2021">co2_prod_2021:</label><br>
            <input type="text" id="co2_prod_2021" name="co2_prod_2021"><br>

            <input type="submit" value="Submit">
        </form>
    {% elif table == "gross_national_income_per_capital" %}
        <form action="/edit/gross_national_income_per_capital/insert" method="POST">
            <label for="ISO3">ISO3:</label><br>
            <input type="text" id="ISO3" name="ISO3"><br>
    
            <label for="Country">Country:</label><br>
            <input type="text" id="Country" name="Country"><br>
    
            <label for="hdicode">hdicode:</label><br>
            <input type="text" id="hdicode" name="hdicode"><br>
    
            <label for="region">region:</label><br>
            <input type="text" id="region" name="region"><br>
    
            <label for="hdi_rank_2021">hdi_rank_2021:</label><br>
            <input type="text" id="hdi_rank_2021" name="hdi_rank_2021"><br>
    
            <label for="gnipc_1990">gnipc_1990:</label><br>
            <input type="text" id="gnipc_1990" name="gnipc_1990"><br>
    
            <label for="gnipc_1991">gnipc_1991:</label><br>
            <input type="text" id="gnipc_1991" name="gnipc_1991"><br>
    
            <label for="gnipc_1992">gnipc_1992:</label><br>
            <input type="text" id="gnipc_1992" name="gnipc_1992"><br>
    
            <label for="gnipc_1993">gnipc_1993:</label><br>
            <input type="text" id="gnipc_1993" name="gnipc_1993"><br>
    
            <label for="gnipc_1994">gnipc_1994:</label><br>
            <input type="text" id="gnipc_1994" name="gnipc_1994"><br>
    
            <label for="gnipc_1995">gnipc_1995:</label><br>
            <input type="text" id="gnipc_1995" name="gnipc_1995"><br>
    
            <label for="gnipc_1996">gnipc_1996:</label><br>
            <input type="text" id="gnipc_1996" name="gnipc_1996"><br>
    
            <label for="gnipc_1997">gnipc_1997:</label><br>
            <input type="text" id="gnipc_1997" name="gnipc_1997"><br>
    
            <label for="gnipc_1998">gnipc_1998:</label><br>
            <input type="text" id="gnipc_1998" name="gnipc_1998"><br>
    
            <label for="gnipc_1999">gnipc_1999:</label><br>
            <input type="text" id="gnipc_1999" name="gnipc_1999"><br>
    
            <label for="gnipc_2000">gnipc_2000:</label><br>
            <input type="text" id="gnipc_2000" name="gnipc_2000"><br>
    
            <label for="gnipc_2001">gnipc_2001:</label><br>
            <input type="text" id="gnipc_2001" name="gnipc_2001"><br>
    
            <label for="gnipc_2002">gnipc_2002:</label><br>
            <input type="text" id="gnipc_2002" name="gnipc_2002"><br>
    
            <label for="gnipc_2003">gnipc_2003:</label><br>
            <input type="text" id="gnipc_2003" name="gnipc_2003"><br>
    
            <label for="gnipc_2004">gnipc_2004:</label><br>
            <input type="text" id="gnipc_2004" name="gnipc_2004"><br>
    
            <label for="gnipc_2005">gnipc_2005:</label><br>
            <input type="text" id="gnipc_2005" name="gnipc_2005"><br>
    
            <label for="gnipc_2006">gnipc_2006:</label><br>
            <input type="text" id="gnipc_2006" name="gnipc_2006"><br>
    
            <label for="gnipc_2007">gnipc_2007:</label><br>
            <input type="text" id="gnipc_2007" name="gnipc_2007"><br>
    
            <label for="gnipc_2008">gnipc_2008:</label><br>
            <input type="text" id="gnipc_2008" name="gnipc_2008"><br>
    
            <label for="gnipc_2009">gnipc_2009:</label><br>
            <input type="text" id="gnipc_2009" name="gnipc_2009"><br>
    
            <label for="gnipc_2010">gnipc_2010:</label><br>
            <input type="text" id="gnipc_2010" name="gnipc_2010"><br>
    
            <label for="gnipc_2011">gnipc_2011:</label><br>
            <input type="text" id="gnipc_2011" name="gnipc_2011"><br>
    
            <label for="gnipc_2012">gnipc_2012:</label><br>
            <input type="text" id="gnipc_2012" name="gnipc_2012"><br>
    
            <label for="gnipc_2013">gnipc_2013:</label><br>
            <input type="text" id="gnipc_2013" name="gnipc_2013"><br>
    
            <label for="gnipc_2014">gnipc_2014:</label><br>
            <input type="text" id="gnipc_2014" name="gnipc_2014"><br>
    
            <label for="gnipc_2015">gnipc_2015:</label><br>
            <input type="text" id="gnipc_2015" name="gnipc_2015"><br>
    
            <label for="gnipc_2016">gnipc_2016:</label><br>
            <input type="text" id="gnipc_2016" name="gnipc_2016"><br>
    
            <label for="gnipc_2017">gnipc_2017:</label><br>
            <input type="text" id="gnipc_2017" name="gnipc_2017"><br>
    
            <label for="gnipc_2018">gnipc_2018:</label><br>
            <input type="text" id="gnipc_2018" name="gnipc_2018"><br>
    
            <label for="gnipc_2019">gnipc_2019:</label><br>
            <input type="text" id="gnipc_2019" name="gnipc_2019"><br>
    
            <label for="gnipc_2020">gnipc_2020:</label><br>
            <input type="text" id="gnipc_2020" name="gnipc_2020"><br>
    
            <label for="gnipc_2021">gnipc_2021:</label><br>
            <input type="text" id="gnipc_2021" name="gnipc_2021"><br>
    
            <input type="submit" value="Submit">
        </form>
    
    {% elif table == "human_development_index" %}
        <form action="/edit/human_development_index/insert" method="POST">
            <label for="ISO3">ISO3:</label><br>
            <input type="text" id="ISO3" name="ISO3"><br>
    
            <label for="Country">Country:</label><br>
            <input type="text" id="Country" name="Country"><br>
    
            <label for="hdicode">hdicode:</label><br>
            <input type="text" id="hdicode" name="hdicode"><br>
    
            <label for="region">region:</label><br>
            <input type="text" id="region" name="region"><br>
    
            <label for="hdi_rank_2021">hdi_rank_2021:</label><br>
            <input type="text" id="hdi_rank_2021" name="hdi_rank_2021"><br>
    
            <label for="hdi_1990">hdi_1990:</label><br>
            <input type="text" id="hdi_1990" name="hdi_1990"><br>
    
            <label for="hdi_1991">hdi_1991:</label><br>
            <input type="text" id="hdi_1991" name="hdi_1991"><br>
    
            <label for="hdi_1992">hdi_1992:</label><br>
            <input type="text" id="hdi_1992" name="hdi_1992"><br>
    
            <label for="hdi_1993">hdi_1993:</label><br>
            <input type="text" id="hdi_1993" name="hdi_1993"><br>
    
            <label for="hdi_1994">hdi_1994:</label><br>
            <input type="text" id="hdi_1994" name="hdi_1994"><br>
    
            <label for="hdi_1995">hdi_1995:</label><br>
            <input type="text" id="hdi_1995" name="hdi_1995"><br>
    
            <label for="hdi_1996">hdi_1996:</label><br>
            <input type="text" id="hdi_1996" name="hdi_1996"><br>
    
            <label for="hdi_1997">hdi_1997:</label><br>
            <input type="text" id="hdi_1997" name="hdi_1997"><br>
    
            <label for="hdi_1998">hdi_1998:</label><br>
            <input type="text" id="hdi_1998" name="hdi_1998"><br>
    
            <label for="hdi_1999">hdi_1999:</label><br>
            <input type="text" id="hdi_1999" name="hdi_1999"><br>
    
            <label for="hdi_2000">hdi_2000:</label><br>
            <input type="text" id="hdi_2000" name="hdi_2000"><br>
    
            <label for="hdi_2001">hdi_2001:</label><br>
            <input type="text" id="hdi_2001" name="hdi_2001"><br>
    
            <label for="hdi_2002">hdi_2002:</label><br>
            <input type="text" id="hdi_2002" name="hdi_2002"><br>
    
            <label for="hdi_2003">hdi_2003:</label><br>
            <input type="text" id="hdi_2003" name="hdi_2003"><br>
    
            <label for="hdi_2004">hdi_2004:</label><br>
            <input type="text" id="hdi_2004" name="hdi_2004"><br>
    
            <label for="hdi_2005">hdi_2005:</label><br>
            <input type="text" id="hdi_2005" name="hdi_2005"><br>
    
            <label for="hdi_2006">hdi_2006:</label><br>
            <input type="text" id="hdi_2006" name="hdi_2006"><br>
    
            <label for="hdi_2007">hdi_2007:</label><br>
            <input type="text" id="hdi_2007" name="hdi_2007"><br>
    
            <label for="hdi_2008">hdi_2008:</label><br>
            <input type="text" id="hdi_2008" name="hdi_2008"><br>
    
            <label for="hdi_2009">hdi_2009:</label><br>
            <input type="text" id="hdi_2009" name="hdi_2009"><br>
    
            <label for="hdi_2010">hdi_2010:</label><br>
            <input type="text" id="hdi_2010" name="hdi_2010"><br>
    
            <label for="hdi_2011">hdi_2011:</label><br>
            <input type="text" id="hdi_2011" name="hdi_2011"><br>
    
            <label for="hdi_2012">hdi_2012:</label><br>
            <input type="text" id="hdi_2012" name="hdi_2012"><br>
    
            <label for="hdi_2013">hdi_2013:</label><br>
            <input type="text" id="hdi_2013" name="hdi_2013"><br>
    
            <label for="hdi_2014">hdi_2014:</label><br>
            <input type="text" id="hdi_2014" name="hdi_2014"><br>
    
            <label for="hdi_2015">hdi_2015:</label><br>
            <input type="text" id="hdi_2015" name="hdi_2015"><br>
    
            <label for="hdi_2016">hdi_2016:</label><br>
            <input type="text" id="hdi_2016" name="hdi_2016"><br>
    
            <label for="hdi_2017">hdi_2017:</label><br>
            <input type="text" id="hdi_2017" name="hdi_2017"><br>
    
            <label for="hdi_2018">hdi_2018:</label><br>
            <input type="text" id="hdi_2018" name="hdi_2018"><br>
    
            <label for="hdi_2019">hdi_2019:</label><br>
            <input type="text" id="hdi_2019" name="hdi_2019"><br>
    
            <label for="hdi_2020">hdi_2020:</label><br>
            <input type="text" id="hdi_2020" name="hdi_2020"><br>
    
            <label for="hdi_2021">hdi_2021:</label><br>
            <input type="text" id="hdi_2021" name="hdi_2021"><br>
    
            <input type="submit" value="Submit">
        </form>
    
    {% elif table == "life_expectancy_by_birth" %}
        <form action="/edit/life_expectancy_by_birth/insert" method="POST">
            <label for="ISO3">ISO3:</label><br>
            <input type="text" id="ISO3" name="ISO3"><br>
    
            <label for="Country">Country:</label><br>
            <input type="text" id="Country" name="Country"><br>
    
            <label for="hdicode">hdicode:</label><br>
            <input type="text" id="hdicode" name="hdicode"><br>
    
            <label for="region">region:</label><br>
            <input type="text" id="region" name="region"><br>
    
            <label for="hdi_rank_2021">hdi_rank_2021:</label><br>
            <input type="text" id="hdi_rank_2021" name="hdi_rank_2021"><br>
    
            <label for="le_1990">le_1990:</label><br>
            <input type="text" id="le_1990" name="le_1990"><br>
    
            <label for="le_1991">le_1991:</label><br>
            <input type="text" id="le_1991" name="le_1991"><br>
    
            <label for="le_1992">le_1992:</label><br>
            <input type="text" id="le_1992" name="le_1992"><br>
    
            <label for="le_1993">le_1993:</label><br>
            <input type="text" id="le_1993" name="le_1993"><br>
    
            <label for="le_1994">le_1994:</label><br>
            <input type="text" id="le_1994" name="le_1994"><br>
    
            <label for="le_1995">le_1995:</label><br>
            <input type="text" id="le_1995" name="le_1995"><br>
    
            <label for="le_1996">le_1996:</label><br>
            <input type="text" id="le_1996" name="le_1996"><br>
    
            <label for="le_1997">le_1997:</label><br>
            <input type="text" id="le_1997" name="le_1997"><br>
    
            <label for="le_1998">le_1998:</label><br>
            <input type="text" id="le_1998" name="le_1998"><br>
    
            <label for="le_1999">le_1999:</label><br>
            <input type="text" id="le_1999" name="le_1999"><br>
    
            <label for="le_2000">le_2000:</label><br>
            <input type="text" id="le_2000" name="le_2000"><br>
    
            <label for="le_2001">le_2001:</label><br>
            <input type="text" id="le_2001" name="le_2001"><br>
    
            <label for="le_2002">le_2002:</label><br>
            <input type="text" id="le_2002" name="le_2002"><br>
    
            <label for="le_2003">le_2003:</label><br>
            <input type="text" id="le_2003" name="le_2003"><br>
    
            <label for="le_2004">le_2004:</label><br>
            <input type="text" id="le_2004" name="le_2004"><br>
    
            <label for="le_2005">le_2005:</label><br>
            <input type="text" id="le_2005" name="le_2005"><br>
    
            <label for="le_2006">le_2006:</label><br>
            <input type="text" id="le_2006" name="le_2006"><br>
    
            <label for="le_2007">le_2007:</label><br>
            <input type="text" id="le_2007" name="le_2007"><br>
    
            <label for="le_2008">le_2008:</label><br>
            <input type="text" id="le_2008" name="le_2008"><br>
    
            <label for="le_2009">le_2009:</label><br>
            <input type="text" id="le_2009" name="le_2009"><br>
    
            <label for="le_2010">le_2010:</label><br>
            <input type="text" id="le_2010" name="le_2010"><br>
    
            <label for="le_2011">le_2011:</label><br>
            <input type="text" id="le_2011" name="le_2011"><br>
    
            <label for="le_2012">le_2012:</label><br>
            <input type="text" id="le_2012" name="le_2012"><br>
    
            <label for="le_2013">le_2013:</label><br>
            <input type="text" id="le_2013" name="le_2013"><br>
    
            <label for="le_2014">le_2014:</label><br>
            <input type="text" id="le_2014" name="le_2014"><br>
    
            <label for="le_2015">le_2015:</label><br>
            <input type="text" id="le_2015" name="le_2015"><br>
    
            <label for="le_2016">le_2016:</label><br>
            <input type="text" id="le_2016" name="le_2016"><br>
    
            <label for="le_2017">le_2017:</label><br>
            <input type="text" id="le_2017" name="le_2017"><br>
    
            <label for="le_2018">le_2018:</label><br>
            <input type="text" id="le_2018" name="le_2018"><br>
    
            <label for="le_2019">le_2019:</label><br>
            <input type="text" id="le_2019" name="le_2019"><br>
    
            <label for="le_2020">le_2020:</label><br>
            <input type="text" id="le_2020" name="le_2020"><br>
    
            <label for="le_2021">le_2021:</label><br>
            <input type="text" id="le_2021" name="le_2021"><br>
    
            <input type="submit" value="Submit">
        </form>
    
    {% else %}
    <h1> ERROR: TABLE IS NOT EXIST. SELECTED TABLE IS: {{ table }} </h1>
    {% endif %}





{% else %}

<h1> SUCCESSFUL OPERATION ON {{table}} </h1>

{% endif %}

{% endblock %}