{% extends "layout.html" %}

{% block title %}SQL Table List{% endblock %}

{% block content %}
{% if schema == None %}

<div>
<h3> Hakan Duran 150200091, Kerem Er 820210313, Rengin Helin Yalçin 150220767, Oguz Eren Kacar 150200018 </h3>
</div>

<label for="selectOption">Select an option:</label>
  <select id="selectOption" onchange="redirectToLink()">
    <option value="" selected disabled>Select an option</option>
    <option value="/list/co2_production">co2_production</option>
    <option value="/list/gross_national_income_per_capital">gross_national_income_per_capital</option>
    <option value="/list/human_development_index">human_development_index</option>
    <option value="/list/life_expectancy_by_birth">life_expectancy_by_birth</option>
  </select>

  <script>
    function redirectToLink() {
      var select = document.getElementById("selectOption");
      var selectedValue = select.options[select.selectedIndex].value;

      // Check if a valid option is selected
      if (selectedValue) {
        window.location.href = selectedValue;
      }
    }
  </script>

{% else %}

<div class="content-container">
    <h2>SQL Query Results</h2>
    <div class="search-form">
        <form action="/list/{{schema}}/search" method="POST">
            <input type="text" name="country" placeholder="Search by country..." class="search-input">
            <button type="submit" class="search-button">Search</button>
        </form>
    </div>
    
<div class="crud-container">
    <form action="/edit/{{schema}}/insert" class="insert-form">
        <button type="submit" class="insert-button">Insert</button>
    </form>
    <form action="/edit/{{schema}}/delete" class="delete-form">
        <button type="submit" class="delete-button">Delete</button>
    </form>
    <form action="/edit/{{schema}}/update" class="update-form">
        <button type="submit" class="update-button">Update</button>
    </form>
</div>

    <div class="table-container">
        <table>
            <thead>
                <tr>
                    {% for column in columns %}
                    <th>
                        {% if country == None %}
                        <a href="/list/{{ schema }}/{{ column }}/{{ 'asc' if sorted_column != column or sorted_order == 'desc' else 'desc' }}" class="header-link">
                        {% else %}
                        <a href="/list/{{ schema }}/search/{{ country }}/{{ column }}/{{ 'asc' if sorted_column != column or sorted_order == 'desc' else 'desc' }}" class="header-link">
                        {% endif %}
                            <span class="header-title">
                                {{ column }}
                                {% if sorted_column == column %}
                                    <span class="{{ 'ascending' if sorted_order == 'asc' else 'descending' }}"></span>
                                {% endif %}
                            </span>
                        </a>
                    </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in results %}
                    <tr>
                        {% for value in row %}
                            <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endif %}

{% endblock %}